@import "./variables";
// @import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@import "./button";

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
}

.fall-down {
  animation: falldown 1s forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

@keyframes falldown {
  0% {
    top: -100%;
  }

  100% {
    top: 0%;
    opacity: 1;
  }
}

.slide-left {
  animation: slideleft 1s forwards;
  animation-delay: 0s;
}

@keyframes slideleft {
  0% {
    margin-right: 100%;
  }

  100% {
    margin-right: 0%;
  }
}

.manifestation {
  animation: manifestation 2.5s forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes manifestation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-in {
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    transform: translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform: translateY(-30%);
  }
}
