@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "./button";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
}
