$gradient: linear-gradient(168.56deg, #028585 -4.67%, #002332 105.67%);
$text_dark: #1e1e1e;
$text_light: #ffffff;
$btn: #1cd5e8;
$list_item_active: #102628b4;
$btn_hover: #1e1e1e;
$list_item: #c8faff;
$delete: #ff1f00;
